.welcome-box {
    background: var(--white);
    padding: 2rem;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    max-width: 700px;
    margin: 1rem auto;
    text-align: center;
    animation: fadeIn .4s ease;
}

.welcome-box h1 {
    font-size: 2rem;
    font-weight: 800;
}

.welcome-actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.welcome-btn {
    padding: .9rem 1.5rem;
    border-radius: var(--radius-sm);
    font-size: 1rem;
}

/* MOBILE */
@media (max-width: 650px) {
    .welcome-box {
        padding: 1.5rem;
    }

    .welcome-box h1 {
        font-size: 1.5rem;
    }

    .welcome-actions {
        flex-direction: column;
    }

    .welcome-btn {
        width: 100%;
        text-align: center;
    }
}