.sidebar {
    width: 260px;
    background: var(--white);
    box-shadow: var(--shadow-lg);
    height: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: .75rem 1rem;
    border-radius: var(--radius-sm);
    color: var(--text-dark);
    transition: var(--normal);
}

.sidebar-item:hover,
.sidebar-item.active {
    background: var(--bg-light);
    font-weight: 600;
}

.sidebar-toggle {
    display: none;
}


@media (max-width: 850px) {

    .sidebar {
        position: fixed;
        top: 70px;
        left: 0;
        height: calc(100vh - 70px);
        transform: translateX(-100%);
        z-index: 9999;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: flex;
        position: fixed;
        top: 100px;
        right: 20px;
        z-index: 10000;
        background: var(--blue-main);
        color: white;
        font-size: 1.2rem;
        padding: .6rem;
        border-radius: 6px;
        box-shadow: var(--shadow-md);
    }
}