.admin-layout {
    display: flex;
    height: calc(100dvh - 70px);
    background: var(--bg-light);
    overflow: hidden;
}

/* MOBILE: stack layout */
@media (max-width: 850px) {
    .admin-layout {
        flex-direction: column;
    }
}