.create-user-page {
    padding: var(--space-10);
    max-width: 450px;
}

.create-user-page h2 {
    margin-bottom: var(--space-8);
    font-size: 1.8rem;
}

.create-user-form {
    background: var(--white);
    padding: var(--space-8);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.input {
    padding: 10px;
    border-radius: var(--radius-sm);
    border: 1px solid #ccc;
    outline: none;
}

.input:focus {
    border-color: var(--blue-main);
}

.create-btn {
    margin-top: var(--space-4);
    padding: 12px;
    background: var(--blue-main);
    color: white;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s ease;
}

.create-btn:hover {
    opacity: 0.9;
}

/* STATUS MESSAGES */
.status {
    margin-top: var(--space-6);
    font-size: 1rem;
    font-weight: 600;
}

.status.loading {
    color: var(--text-mid);
}

.status.success {
    color: green;
}

.status.error {
    color: red;
}