.navbar {
    width: 100%;
    background: var(--white);
    box-shadow: var(--shadow-sm);
    position: sticky;
    top: 0;
    z-index: 50;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 50;
    padding: 1.2rem 4rem;
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--yellow-main);
}

/* DESKTOP LINKS */
.nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar ul {
    list-style: none;
}

.nav-links li a {
    font-size: 1rem;
    color: var(--text-dark);
    font-weight: 500;
    transition: var(--normal);
    font-weight: 600;
}

.nav-links li a:hover {
    color: var(--blue-main);
}


.logout-btn {
    background: var(--blue-main);
    color: white;
    padding: 0.35rem 0.9rem;
    border-radius: var(--radius-sm);
    border: none;
    cursor: pointer;
    transition: var(--normal);
}

.logout-btn:hover {
    opacity: 0.85;
}


.nav-hamburger {
    font-size: 1.8rem;
    color: var(--blue-main);
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}



.mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--white);
    display: none;
    flex-direction: column;
    padding: var(--space-4) var(--space-6);
    box-shadow: var(--shadow-md);
    gap: var(--space-4);
    z-index: 40;
}

.mobile-menu.open {
    display: flex;
    transform-origin: top center;
    animation: scaleReveal 0.25s cubic-bezier(.25, .46, .45, .94) forwards;
}

@keyframes scaleReveal {
    0% {
        opacity: 0;
        transform: scale(0.85);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 900px) {
    .nav-links {
        display: none;

    }

    .nav-hamburger {
        display: block;
    }
}

.nav-links li a svg,
.mobile-menu li a svg,
.logout-btn svg {
    margin-right: 6px;
}