.fancy-btn {
    position: relative;
    color: white;
    padding: 0.9rem 1.8rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    transition: 0.3s ease;
}

.fancy-btn::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -14px;
    width: 100%;
    height: 100%;
    border-radius: 50px;

    z-index: -1;
    transition: 0.3s ease;
}

/* Hover Animation */
.fancy-btn:hover {
    transform: translateY(-2px);
    opacity: 0.95;
    z-index: 10;
}

.fancy-btn:hover::before {
    top: -10px;
    left: -10px;
    z-index: -1;
}

.arrow-icon {
    font-size: 1.2rem;
}

.blue {
    background-color: var(--blue-main);


}

.yellow {
    background-color: var(--yellow-main);


}

.fancy-btn.yellow::before {
    border: 3px solid var(--yellow-main);
}

.fancy-btn.blue::before {
    border: 3px solid var(--blue-main);
}